<p style="color: green"><%= notice %></p>

<h1 class="font-extrabold text-7xl text-sky-800">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class: "underline" %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class: "underline" %>
